
 
<ion-content  >

   <ion-img src="../../../assets/img/ativo1.png" class="icone"></ion-img>
   <h5 class="texto">BUILDING OF THE DAY</h5><br><br>
  <ion-button expand="block" (click)="openModal()" shape="round" class="borda" margin= 40px >Login
  </ion-button>
  <ion-button expand="block" shape="round" (click)="open('register')" >New User</ion-button> 
  <br><br> 
  <ion-grid>
    <!--ion-row>
      <ion-col offset="4"  >
  <ion-icon src="../../../assets/img/google.svg" class="p"></ion-icon>
    </ion-col>
    <ion-col offset="-2">
        <ion-icon src="../../../assets/img/facebook.svg" class="p1" ></ion-icon>
          </ion-col>
    </ion-row-->
 </ion-grid>
 
  
  
  
        
   
          

</ion-content>