 
<ion-content  >

  <ion-img src="../../../assets/img/ativo1.png" class="icone"></ion-img>
  <h5 class="texto">BUILDING OF THE DAY</h5><br><br>
 <ion-input  type="email" [(ngModel)]="user.email" placeholder="E-mail"   clearOnEdit="false"  class="button" margin= 40px >
 </ion-input>
 <ion-input type="password" placeholder="Senha" [(ngModel)]="user.password" clearOnEdit="false" class="button" margin= 40px >
</ion-input>
 <br><br> 
 <ion-grid>
   <ion-row>
     <ion-col offset="1.5"  >
<ion-button class="p" (click)="closeModal()">CANCELAR</ion-button>
   </ion-col>
   <ion-col offset="-1">
    <ion-button class="p" (click)="login()">LOGIN</ion-button>
         </ion-col>
   </ion-row>
</ion-grid>

 
 
 
       
  
         

</ion-content>