
      
  <ion-toolbar>
      <ion-buttons  slot="start">
        <ion-menu-button size= "large" class="button-menu" color="light"> </ion-menu-button>
      </ion-buttons>
      <ion-img  (click)="open('home')" src="../../assets/img/icone.png" slot="end" class="icon"></ion-img>
    </ion-toolbar>
 
 
 <ion-content >
  
  
  <ion-searchbar showCancelButton="always " class="pesquisa"></ion-searchbar>

  <ion-card  *ngFor="let card of cards" class="card" >
    
    <img (click)="openModal()" src="../../assets/img/angela-compagnone-Vcp9fT8nCBE-unsplash.jpg" class="imagem">
    
       <ion-icon (click)="openModal()" class="tabela" name="add-circle"></ion-icon>
   
    <ion-card-content class="cartao">
           <ion-grid>
           <ion-row>
             <ion-col>
            <p class="cidade"> {{card.style}} </p>
          </ion-col>
          <ion-col offset="5" >
              <p class="ano"> 2017 </p>
            </ion-col>
          </ion-row>
          </ion-grid>
           <p class="itens1">{{card.providers}}</p>
             
          <ion-grid margin-top>
            <ion-row >
              <ion-col offset="2">
              
                <app-like (click)="like(card._id)" ></app-like>
                  <ion-badge class="like" >{{card.like}}</ion-badge>
                
           </ion-col>
           <ion-col offset="4" >
            <ion-icon name="share" class="icone2"></ion-icon>
             </ion-col>
           </ion-row>
           </ion-grid> 
         
            
  
    
    
    </ion-card-content>

  </ion-card>
  
  
  
</ion-content>
