<ion-toolbar>
  <ion-buttons  slot="start">
    <ion-menu-button size= "large" class="button-menu" color="light"> </ion-menu-button>
  </ion-buttons>
  <ion-img  (click)="open('home')" src="../../assets/img/icone.png" slot="end" class="icon"></ion-img>
</ion-toolbar>

<ion-content>
    <br><br><br><br><br><br>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-subtitle>Obtenha premium agora</ion-card-subtitle>
      <br><br>
      <ion-card-title>PayPal</ion-card-title>
      <br><br>
      <ion-row>
        <ion-col>
          Total a pagar
        </ion-col>
       
        <ion-col>
          {{currencyIcon}}{{paymentAmount}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      
      <ion-button expand="full" (click)="payWithPaypal()">Pagar com PayPal</ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>